/*.php
/*.txt
/*.xml
/*.log
/*.html
/*.gz
/*.htaccess

.idea/
.DS_Store

/wp-admin/
/wp-includes/
/wp-content/*
/wp-content/plugins/*
/wp-content/uploads/*

!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/wportfolio/
/wp-content/themes/wportfolio/documentation/node_modules/*
!/wp-content/themes/wportfolio-child/