section.section.section-single {

  img.wp-post-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 2rem;
    @include border-radius(4px);
  }

  a {
    color: $base_color;
  }

  p {
    margin-bottom: 1rem;

    &.thumbnail-caption {
      text-align: center;
      font-size: 14px;
      margin-top: -1.5rem;
      margin-bottom: 1.5rem;
      color: $black_text_alt_color;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include breakpoint($size_tablet) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}