html {
  scroll-behavior: smooth;
}

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

@include breakpoint($size_tablet) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
}