$white_color: #ffffff !default;
$black_color: #000000 !default;
$base_color: #8bbee6 !default;
$success_color: #55b95a !default;

$size_tablet: 768px !default;
$size_laptop: 992px !default;
$size_desktop: 1200px !default;