nav.nav {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: $nav_height;
  align-items: center;
  background-color: transparent;
  @include transition(all .2s ease);

  .brand {
    > a {
      @include dancing_font;
      color: $white_color;
      font-size: 2.5rem;
      @include transition(all .2s ease);
      @include text_shadow();
    }
  }

  &.scrolled {
    background-color: $white_color;
    border-bottom: 1px solid rgba($black_color, .1);
    @include box-shadow();

    .brand {
      > a {
        color: $base_color;
        @include text_shadow(transparent);
      }
    }
  }
}