body {
  background-color: darken($white_color, 3%);
}

nav.nav .frow-container .brand > a {
  font-family: unset;
}

// Override content post.
article {
  h1, h2, h3, h4, h5, p, ul, ol {
    //margin-top: 0 !important;
    margin-bottom: 1rem !important;
  }

  p, ul li, ol li {
    font-size: 18px;
    line-height: 1.4;
    @include breakpoint($size_tablet) {
      font-size: 20px;
    }
  }

  h2 {
    margin-top: 1.5rem;
    font-size: 26px;

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    margin-top: .5rem;
    font-size: 20px;
  }

  code:not([class]) {
    font-size: 80%;
    color: $base-color;
    font-weight: 400;
    background-color: rgba($black_color, .02);
  }

  @include breakpoint($size_tablet) {
    h2 {
      font-size: 32px;
    }
    h3 {
      font-size: 26px;
    }
  }
}

a {
  color: $base-color;
}

// Custom icon for contact items.
$contact-items: ('download':"\ec25", 'preview':"\ec7e");
ul.contact-items-wrapper {
  li.contact-item {
    @each $name, $icon in $contact-items {
      &.item-#{$name} > a:before {
        content: $icon;
      }
    }
  }
}