$thumbnail_size: 80px;
$thumbnail_size_md: 140px;
.archive-posts-wrapper {
  .blog-item {
    display: flex;
    padding: 1rem 0;
    border-bottom: 1px solid rgba($black_color, .1);

    .blog-thumbnail {
      min-width: $thumbnail_size;
      width: $thumbnail_size;
      height: $thumbnail_size;
      position: relative;
      margin-right: 1rem;
      @include cover;
      @include breakpoint($size_tablet) {
        min-width: $thumbnail_size_md;
        width: $thumbnail_size_md;
        height: $thumbnail_size_md;
      }

      &:before {
        @include thumbnail_overlay;
      }
    }

    .blog-detail {
      ul.post-categories {
        margin: 0 0 .5rem;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;

          a {
            color: $black_text_alt_color;
            text-transform: uppercase;
            margin-bottom: .5rem;
            line-height: 1;
            font-size: 14px;

            &:after {
              content: ',';
            }
          }

          &:last-child {
            a:after {
              content: '';
            }
          }
        }
      }

      > a.link {
        font-size: 18px;
        font-weight: 700;
        color: $black_text_color;
        margin-bottom: .5rem;
        display: inline-block;
        @include ellipse_text(2);
      }

      > p.excerpt {
        display: none !important;
        font-size: 16px;
      }

      > span.date {
        line-height: 1;
        display: block;
        font-size: 12px;
        color: $black_text_alt_color;
      }

      @include breakpoint($size_tablet) {
        > a.link {
          font-size: 24px;
        }
        > p.excerpt {
          font-size: 16px;
          @include ellipse_text(2);
          margin-bottom: .5rem;
        }
        > span.date {
          font-size: 14px;
        }
      }
    }

    &:hover {
      .blog-thumbnail {
        &:before {
          background-color: rgba($black_color, .5);
          color: $white_color;
        }
      }
    }
  }
}