section.masthead.masthead-front-page {
  height: 100vh;
  min-height: 400px;

  h1 {
    text-align: left !important;
    font-size: 3rem;
    @include dancing_font;
    @include breakpoint($size_tablet) {
      font-size: 5rem;
    }
  }
}